fastapi
uvicorn[standard]
pydantic-settings
pydantic[email]
PyGithub
pandas
matplotlib
seaborn
python-dotenv
aiofiles
bcrypt==4.0.1
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.3.0
slowapi==0.1.9
